.terms {
  color: #242424;
  padding-bottom: 50px;
  font-size: 0.875rem;
  margin: 0 auto;
  width: 960px;

  .Nav-Logo {
    height: 60px;
    margin-bottom: 17px;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 34px;
  }
  a {
    color: #2E8BF9;
  }
}
