.publish-modal {
  .box {
    background-color: white;
    border-radius: 4px;
    padding: 40px 0;
    margin: 0 auto;
    width: 756px;
    .ant-input:focus {
      box-shadow: unset;
    }
  }
  .section {
    margin: 0 75px 35px;
  }
  .tag-list {
    padding-top: 8px;
    .ant-input-affix-wrapper {
      border-bottom: 1px solid #D9D9D9;
    }
  }
  .title {
    font-size: 25px;
    line-height: 30px;
  }
  .info {
    line-height: 24px;
    margin-top: 7px;
  }
  .ant-radio-group {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 0;
  }
  .location {
    position: relative;
    display: flex;
    align-items: center;
    img {
      margin-left: 22px;
      height: 13px;
    }
    span {
      margin-left: 7px;
      margin-right: 24px;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .search-box {
    height: 172px;
    .ant-input-affix-wrapper {
      display: flex;
      width: 480px;
      height: 42px;
      border-radius: 30px;
      background-color: #F7F7F7;
      margin: 20px auto 0;
      img {
        width: 15px;
        height: 17px;
      }
      input {
        height: 100%;
        border: unset;
        background-color: #F7F7F7;
        padding: 0 40px;
      }
    }
    .search-result-parent {
      display: none;
      position: relative;
      width: 460px;
      margin: 2px auto;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.14);
      &.not-empty {
        display: block;
        z-index: 9;
      }
    }
    .search-result {
      overflow: scroll;
      transition: height 0.3s;
      background-color: #FFFFFF;
    }
    .search-item {
      height: 28px;
      display: flex;
      align-items: center;
      border-radius: 15px;
      margin-top: 10px;
      &:hover:not(.last-item) {
        background-color: rgba(247, 247, 247, 0.9);
        cursor: pointer;
      }
    }
    .search-loading {
      text-align: center;
      .ant-spin {
        margin-top: 10px;
      }
    }
  }
  .selected-box {
    .location {
      margin: 20px 65px;
      img {
        margin-left: 0;
        height: 18px;
      }
      span {
        font-size: 20px;
        line-height: 29px;
      }
    }
    .info {
      text-align: left;
      line-height: 34px;
    }
    .change-btn {
      &:hover {
        cursor: pointer;
      }
      font-size: 12px;
      line-height: 14px;
      width: 65px;
      height: 18px;
      border-radius: 9px;
      color: #FF5A5A;
      border: 1px solid #FF5A5A;
    }
  }

  .schedule-time {
    text-align: center;
    margin-top: 20px;
  }

  .publish-btn {
    display: block;
    width: 135px;
    height: 40px;
    line-height: 38px;
    margin: 30px auto 0;
    svg {
      margin-right: 6px;
    }
    &:hover {
      color: white;
      background-color: #FF5A5A !important;
    }
  }
}
