.blocked {
  text-align: center;
  img {
    margin-top: 90px;
    width: 122px;
    height: 122px;
  }
  .info {
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
  }
  .help {
    font-size: 16px;
    margin-top: 12px;
  }
}
