.section.content-stats {
  .content-list {
    border-bottom: 1px solid #c8c8c8;
    overflow: scroll;
    max-height: 375px;

    .ant-empty {
      margin-top: 100px;
    }
  }
  .content-list-item {
    color: #656565;
    display: flex;
    height: 72px;
    align-items: center;
    border: 1px solid #c8c8c8;
    border-top-width: 0;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }

    .title {
      font-weight: 500;
      font-size: 12px;
      flex: 1 1 650px;
      text-align: left;
      padding: 0 5px 0 20px;
    }
    .stats {
      font-size: 14px;
      flex: 0 0 520px;
      display: flex;
      text-align: center;
      height: 100%;
      > div {
        flex: 0 0 130px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #c8c8c8;
      }
    }
    &.content-list-header {
      background: rgba(74, 144, 226, 0.05);
      border-top-width: 1px;
      height: 46px;
      cursor: default;
      .title {
        text-align: center;
        padding: 0;
      }
    }
    .pv-tooltip {
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
  .no-more {
    border: 1px solid #c8c8c8;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  } 
}
