@import 'asset/style/variable.scss';

.newsletter {
  color: $font-color-light;

  .welcome-email {
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.15px;
      color: #242424;
    }
    p {
      margin-top: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #9B9B9B;
    }
    .create-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      align-self: center;
      background-color: initial;
      color:#EC3E36;
      border: 2px solid #EC3E36;
    }
  }

  .post-container {
    padding: 30px 50px;
  }

  .title {
    position: relative;
    textarea {
      padding: 0;
      width: 100%;
      margin-bottom: 13px;
      border: none;
      font-size: 30px;
      &:focus::placeholder {
        color: #bdc1c9;
      }
      &::placeholder {
        color: #9197a3;
        font-size: 20px;
        line-height: 45px;
      }
      &:focus {
        box-shadow: unset;
      }
      resize: none;
    }

    .title-count {
      bottom: -34px;
      position: absolute;
      right: 0;
    }
  }

  .Editor-Content {
    max-height: calc(100vh - 520px);
    @media screen and (max-height: 920px) {
        max-height: 400px;
    }
  }

  .newsletter-button-group {
    display: flex;
    justify-content: space-between;
    margin: 36px auto 20px;
    width: 570px;

    .draft-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      background-color: initial;
      color:#242424;
      border: 2px solid #f1f1f1;
    }

    .create-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
    }
  }
}

.newsletter-publish-comfirm {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07px;
    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 29px;

  }
  .scheduler-body {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    color: rgba(0, 0, 0, 0.85);

    .scheduler-datepicker {
      margin: 16px 0;
      width: 300px;
    }
  }
  .scheduler-button-group {
    display: flex;
    margin-top: 40px;
    right: 40px;
    position: absolute;
    bottom: 40px;
    .cancel-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      background-color: initial;
      color:#242424;
      border: 2px solid #f1f1f1;
    }
    .publish-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      margin-left: 10px;
    }
  }
}

.email-editor {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .title {
    position: relative;
    textarea {
      padding: 0;
      width: 100%;
      margin-bottom: 13px;
      border: none;
      font-size: 30px;
      &:focus::placeholder {
        color: #bdc1c9;
      }
      &::placeholder {
        color: #9197a3;
        font-size: 20px;
        line-height: 45px;
      }
      &:focus {
        box-shadow: unset;
      }
      resize: none;
    }

    .title-count {
      bottom: -34px;
      position: absolute;
      right: 0;
    }
  }

  .scheduler-button-group {
    display: flex;
    justify-content: space-between;
    margin: 37px auto;
    width: 570px;
    
    .cancel-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      background-color: initial;
      color:#242424;
      border: 2px solid #f1f1f1;
    }

    .save-button {
      padding: 0 24px;
      font-size: 16px;
      height: 40px;
      margin-left: 10px;
    }
  }
}