.media-modal {
   .ant-modal-body {
      height: 600px;
      padding: 40px 20px 30px 20px;
   }
   .submit-button {
      margin: 10px 0px;
   }
   .user-list {
      max-height: 350px;
      overflow: auto;
   }
}
