.cross-following {
  .time-line {
    color: #656565;
    font-size: 14px;
    line-height: 14px;
  }
  .no-data {
    margin-top: 28px;
  }
  .follow-list {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    row-gap: 24px;
  }
  .follow-item {
    display: flex;
    height: 72px;
    color: #242424;
    padding-right: 12px;
    border-right: 1px solid #f2f2f2;
    &:nth-child(3n) {
      border-right: none;
    }
    .icon {
      width: 48px;
      height: 48px;
      border-radius: 48px;
    }
    .profile {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
    }
    .follower-count {
      color: #9b9b9b;
      font-weight: bold;
      font-size: 11px;
      line-height: 14px;
    }
    .name {
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .about {
      color: #444444;
      font-size: 11px;
      line-height: 14px;
      height: 28px;
      overflow: hidden;
    }
  }
}