@import '../../asset/style/variable.scss';

#Nav {
    position: relative;
    z-index: 100;
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px #e9e9e9 solid;
}

.Nav-Content {
    display: flex;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 0 24px;
    width: $main-width;
    margin: auto;

    .account-info {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .alerts {
        display: none;
        background-image: url(../../asset/svg/alerts.svg);
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        margin-right: 12px;
        position: relative;
        cursor: pointer;
    }

    .alerts-count {
        color: #ffffff;
        font-size: 8px;
        line-height: 15px;
        background-color: #F63535;
        padding: 0 8px;
        border-radius: 45px;
        position: absolute;
        right: -8px;
        top: -5px;
    }

    .Nav-Logo {
        display: flex;
        align-items: center;

        .Logo {
            width: 158px;
            height: 27px;
            margin-right: 5px;
        }

        .Title {
            font-size: 20px;
            font-weight: $font-weight-semibold;
        }
    }

    .user-info {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 100%;

        &:hover {
            .menu {
                display: block;
            }
        }

        .username {
            margin-right: 14px;
            color: $font-color-light;

            b {
                font-weight: $font-weight-semibold;
            }
        }

        .avatar {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;

            img {
                width: 100%;
            }
        }

        .menu {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            color: $font-color-light;
            font-size: 16px;

            &:hover {
                display: block;
            }

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                margin: 0;
                padding: 10px 30px;
                list-style: none;
                cursor: pointer;

                &:hover {
                    color: $color-main;
                }

                &.profile-item {
                    font-style: italic;
                }
            }

            a {
                color: inherit;
            }
        }
    }
}
